.footer 
  .container 
    .footer__top
      .footer__logos
        img(src="./assets/img/foooter__logos.svg", alt="")
      .footer__contacts 
        a(href="tel:+74959010227") +7 (495) 901-02-27
        a(href="mailto:info@moscow.sport") info@moscow.sport
        a(href="mailto:press@moscow.sport") press@moscow.sport
    .footer__bottom
      p © 2021, АНО «Московский спорт»
      a(href="#")  Политика конфиденциальности
    