.body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  scroll-behavior: smooth;

  &.--frozen {
      overflow: hidden;
  }
}

.container {
  max-width: $container-width;
  padding-left: $container-padding-left; 
  padding-right: $container-padding-right;
  margin: 0 auto;
  position: relative;
  z-index: 50;
  width: 100%;
}

.hidden {
  display: none;
}

.content{
  position: relative;
  z-index: 10;
}

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
}


strong {
  font-weight: bold;
}

::placeholder {
  color: $placeholder;
  transition: .4s;
}

:focus::placeholder {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

img{
  max-width: 100%;
  display: block;
}

form{
  display: block;
  width: 100%;
}

.link{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
}



h1, h2, h3, h4, h5, h6{    
  font-weight: normal;
}

h2{
  font-size: 164px;
  line-height: 90%;
  text-align: center;
  font-family: $moss;
  text-transform: uppercase;
  &.--small{
    text-align: left;
    font-size: 100px;
    line-height: 90%;
    margin-bottom: 35px;
  }
}

h3{
  font-size: 96px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-family: $moss;
}

.page__title {
  margin-bottom: 24px;
}

h4{
  text-align: center;
  font-size: 88px;
  line-height: 80%;
  font-family: $may;
  color: #EE273F;
  letter-spacing: -0.02em;
  margin-top: -40px;
  position: relative;
  span:first-child{
    z-index: 10;
    position: relative;
  }
  span:last-child{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    color: #fff;
    font-size: 88px;
    z-index: 1;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #fff;
  } 
}

h5{
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: $moss;
}

